<!DOCTYPE html>
<html>
  <head>
    <title>Rssfetcher</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <title>Get twitter</title>
  <body>
    <% flash.each do |key,value| %>
    <%= content_tag(:div,value,:id=>"flash_#{key}")%>
    <% end %>
    <%= yield %>

  </body>
</html>
